.btn {
  font-size: 15px;
}

.btn:hover {
  background-color: black;
}

.btn-warning {
  background-color: #D8D8D8;
  margin-left: 700px;
  width: 150px;
  color: black;
  border-radius: 6px;
  borderRightColor: black;
  border-bottom-color: black;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: white;
}
h4{
  font-size: 1.8rem;
}
