.left {
  float: left;
  height: 550px;
  width: 350px;
  background-color: white;
}



.w3-container {
  margin-left: -250px;
}

.w3-card {
  height: 525px;
}

.HomePage-img {
  margin-left: 10px;
  max-width: 100%;
  max-height: 80%;
  float: left;
  height: 300px;
  width: 330px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.HomePage-img :hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
}

.socialdetails {
  background-color: red;
  margin-left: 10px;
  width: 350px;
  height: 300px;
}

.right {
  /* background-color: red; */
  float: right;
  height: 550px;
  width: 72%;
}

.right_inside {
  border-left: 6px solid #2C3531;
  border-radius: 8px;
  background-image: linear-gradient(to right, white 10%, grey 135%);
  max-height: 200px;
  margin-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  /* margin-left: -15%; */
  /* opacity: 0.5; */
}

.w3-card {
  height: 558px;
}

i {
  color: black;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.icon-button :hover {
  padding-top: 1px;
  color: white;
}
.home::-webkit-scrollbar {
                display: none;
            }
.home {
  margin-top: 25px;
  background-color: white;
  height: -webkit-fill-available;
  background-image: url(back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  padding-top: 20px;
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 4.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}

.facebook span {
  background-color: #3B5998;
}

.github span {
  background-color: #4ba64b;
}

.linkedin span {
  background-color: red;
}

.icon-button i {
  background: none;
  color: black;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}

.icon-button .icon-facebook, {
  color: #3B5998;
}

.icon-button:hover .icon-facebook {
  color: white;
}

.icon-button:hover .icon-github {
  color: white;
}

.icon-button:hover .icon-linkedin {
  color: white;
}

img-hover: {
  backgroundColor: black;
}



.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
